@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Light.eot');
    src: url('assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.eot');
    src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Bold.eot');
    src: url('assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Black.eot');
    src: url('assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Verdana, sans-serif;
}

body {
    max-width: 1020px;
    margin: 0 auto;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

section.portfolio {
    height: 870px;
    padding: 66px 18px 58px 40px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.header {
    font-size: 30px;
    font-weight: 900;
    line-height: 1em;
    color: #666d89;
    letter-spacing: 0.1px;
}

.description {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 300;
    color: #767E9E;
    text-align: justify;
    letter-spacing: -0.2px;
}

.portfolio .portfolio__buttons {
    margin-top: 14px;
}

.portfolio .portfolio__button {
    display: inline-block;
    margin-right: 6px;
    padding: 0 6px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #767e9e;
}

.portfolio .portfolio__button:hover {
    cursor: pointer;
}

.portfolio .portfolio__button:first-child {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.portfolio .portfolio__button:focus {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.portfolio .portfolio__images {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 962px;
    height: 621px;
    margin-top: 19px;
    overflow: hidden;
}

.portfolio .portfolio__images .portfolio__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.portfolio .portfolio__images .portfolio__image img {
    filter: contrast(90%);
}

section.about {
    height: 728px;
    padding: 65px 38px 66px 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about.header {
    letter-spacing: -0.2px;
}

.about.description {
    margin-top: 19px;
    line-height: 30px;
}

.about .about__persons {
    display: flex;
    justify-content: flex-start;
    margin-top: 44px;
}

.about .about__persons .about__person {
    width: 300px;
    margin-right: 20px;
}

.about .about__persons .about__person .photo {
    display: block;
    width: 300px;
    height: 300px; 
}
.about .about__persons .about__person .photo.first{
    background: url('assets/images/about_us/first_person.png');
}
.about .about__persons .about__person .photo.second{
    background: url('assets/images/about_us/second_person.png');
}
.about .about__persons .about__person .photo.third{
    background: url('assets/images/about_us/third_person.png');
}
.about .about__persons .about__person .header {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
}

.about .about__persons .about__person .description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.about .about__persons .about__person .media {
    display: flex;
    margin-top: 25px;
}

.about .about__persons .about__person .media .media-site {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 1px solid #666d89;
    border-radius: 100%;
}

.about .about__persons .about__person .media .media-site:hover {
    cursor: pointer;
}

.about .about__persons .about__person .media .media-site div {
    display: block;
    height: 14px;
    filter: invert(45%) sepia(10%) saturate(968%) hue-rotate(191deg) brightness(92%) contrast(90%);
}

.about .about__persons .about__person .media .media-site .facebook {
    width: 8px;
    background: url('assets/icons/social_links/facebook.svg') no-repeat;
}

.about .about__persons .about__person .media .media-site .google {
    width: 14px;
    background: url('assets/icons/social_links/google.svg') no-repeat;
}

.about .about__persons .about__person .media .media-site .twitter {
    width: 14px;
    margin-top: 1px;
    background: url('assets/icons/social_links/twitter.svg') no-repeat;
}

.about .about__persons .about__person .media .media-site .linkedin {
    width: 14px;
    background: url('assets/icons/social_links/linkedin.svg') no-repeat;
}